.conteiner-adm{
    display: flex;
    flex-direction: column;
    background-image: url('./background-preto.png');
  
    header{
        display: flex;
        height: 120px;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px 0px 30px;

        .imagem-logo img{
            width: 120px;
        }

        .links-principal  {
            display: flex;
            gap: 50px;
            align-items: center;
            margin-right: 50px;

           a{
            color: #fff;
            text-decoration: none;
           }

        }
    }

    .corpo{
        background-image: url('./imagem-escura-dourada.png');
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 80px;
        height: 350px;
        margin-bottom: 120px;

        
        .text{
            width: 300px;
            margin-right: 50px;
        }
        .texto{
            width: 500px;
        }

        .texto h1{
            padding: 00px;
            color: #fff;
        }
        .text h3{
            padding: 0px;
            color: #fff;
        }
    }

    .imagens{
        display: flex;
        flex-direction: column;
        
        
            .imagem-cinza{
                background-image: url('./imagem-cinza-adm1.png');
                height: 500px;
                background-repeat: no-repeat;
                background-size: 100%;
                display: flex;
                align-items: center;

                .relatar{
                    width:350px;
                    margin: 40px;

                    button{
                        width: 120px;
                        height: 40px;
                        border-radius: 100px;
                        border: none;
                        background-color: #D9D9D9;
                        font: 600 16px 'popins';
                    }
                    h1{
                        color: #fff;
                    }
                }
            }
            .imagem-cinza-claro{
                background-image: url('./imagem-cinza-claro-adm1.png');
                background-repeat: no-repeat;
                background-size: 100%;
                height: 477px;
                display: flex;
                align-items: center;

                .seguir{
                    width: 600px;
                    margin: 40px;

                    button{
                        width: 120px;
                        height: 40px;
                        border-radius: 100px;
                        border: none;
                        background-color: #2E2B2B;
                        font: 600 16px 'popins';
                        color: #fff;
                    }
                    h1{
                        color: #000;
                    }

                    
                }
            }
            .imagem-preta{
                background-image: url('./imagem-preta-adm-1.png');
                height: 500px;
                background-repeat: no-repeat;
                background-size: 100%;
                display: flex;
                align-items: center;

                .consulte{
                    width: 500px;
                    margin: 40px;

                    button{
                        width: 120px;
                        height: 40px;
                        border-radius: 100px;
                        border: none;
                        background-color: #fff;
                        font: 600 16px 'popins';
                    }
                    h1{
                        color: #fff;
                    }

                }
            }
        }

    }