.conteiner-realizados {
    background-image: linear-gradient(217deg, #000, #251e08, #000, #251e08);
    align-items: center;
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      height: 20vh;
      align-items: center;
      justify-content: space-between;
      padding: 0px 5vw 0px 5vw;
      
      .imagem-logo img {
        width: 12vw;
      }

      .links-principal {
        display: flex;
        gap: 0vh 5vw;
        align-items: center;
        margin-right: 5vw;

        .animacao {
          color: rgb(255, 255, 255);
          text-decoration: none;
          border: none;
          background: none;
        }

        .animacao::before {
          margin-left: auto;
        }

        .animacao::after,
        .animacao::before {
          content: '';
          width: 0%;
          height: 2px;
          background: #ffffff;
          display: block;
          transition: 0.5s;
        }

        .animacao:hover::after,
        .animacao:hover::before {
          width: 100%;
        }

        a {
          color: #fff;
          text-decoration: none;
          font: 500 1.2rem 'vikings';
        }
      }
    }
    .principal{
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      margin-top: 1vh;
      
      
      color: #b6b5b5;
      gap: 15vh;
      padding: 125px 15px 15px 15px;
      

      .pesquisa{
          border: none;
          border-radius: 5px;
          color: #ffffff !important;
          width: 50vw;
          height: 5vh;
          background-color: #585858;
          
      }

      .fora{

          background-color: #25242493;
          border: none;
          border-radius: 5px;
          height: 85vh;
          width: 50vw;
          padding: 20px;
          padding-left: 70px;
          font-size: 18px;
          line-height: 5;
          margin-bottom: 15px;
          align-items: center;
          padding-top: 60px;
          

          h1 {
              color: #fff;
              text-decoration: none;
              font: 500 2rem 'vikings';
              margin-bottom: 8vh;
              
            }

      }

      .bloco{
          text-decoration: none;
          font: 500 1.2rem 'vikings';
          display: flex;
          flex-direction: row;
          margin-bottom: 5vh;

        .texto{
          display: flex;
          flex-direction: row;
          gap: 17rem;
          background-color: #b9b7b7;
          height: 10vh;
          width: 40vw;
          align-items: center;
          justify-content: center;
          color: #000;
        }


        .icons{
          display: flex;
          flex-direction: column;
          width: 1.2rem;
          gap: 0.7rem;
        }
        }
    }
          .bloco{
          text-decoration: none;
          font: 500 1.2rem 'vikings';
          display: flex;
          flex-direction: row;
          margin-bottom: 5vh;

      
        .texto1{
          display: flex;
          flex-direction: row;
          gap: 17rem;
          background-color: #9E8080;
          color: #000;
          height: 10vh;
          width: 40vw;
          align-items: center;
          justify-content: center;
        }


        .icons{
          display: flex;
          flex-direction: column;
          width: 1.2rem;
          gap: 0.7rem;
        }
        }
    }

    @media (max-width:1280px) {
      .Estudio {
          .segundaSessao {
  
              h2 {
                  font-size: 2rem;
              }
          }
  
          .sessaoSobre {
  
              .text {
                  h1 {
                      font-size: 3.5rem;
                  }
  
                  p {
                      font-size: 1.7rem;
                  }
              }
          }
      }
  }
  
  @media (max-width:1024px) {
      .Estudio {
          .segundaSessao {
  
              h2 {
                  font-size: 1.6rem;
              }
  
              .text {
  
                  .column {
  
                      h3 {
                          font-size: 1.6rem;
                      }
  
                      p {
                          font-size: 0.7rem;
                      }
                  }
              }
          }
  
          .sessaoSobre {
  
              .text {
                  h1 {
                      font-size: 3rem;
                  }
  
                  p {
                      font-size: 1.4rem;
                  }
              }
          }
      }
  }
  
  @media (max-width:912px) {
      .Estudio {
  
          .sessaoInicial {
              height: 50vh;
  
              h1 {
                  margin-left: 8vw;
              }
          }
  
          .segundaSessao {
              gap: 2vh 0vw;
  
              .text {
                  gap: 0vh 8vw;
  
                  .column {
  
                      p {
                          font: 500 1rem "vikings";
                          width: 40vw;
                      }
                  }
              }
          }
  
          .sessaoImagem {
              height: 50vh;
          }
      }
  }
  
  @media (max-width:540px) {
      .Estudio {
  
          .sessaoInicial {
  
              h1 {
                  font-size: 3rem;
              }
          }
  
          .segundaSessao {
  
              h2 {
                  font-size: 1.2rem;
              }
  
              .text {
  
                  .column {
                      h3 {
                          font-size: 1rem;
                      }
  
                      p {
                          font-size: 0.8rem;
                      }
                  }
              }
          }
  
          .sessaoSobre {
  
              .text {
                  h1 {
                      font-size: 1.5rem;
                  }
  
                  p {
                      font-size: 0.8rem;
                      width: 40vw;
                  }
              }
  
              .mapbox {
                  display: flex;
                  height: 40vh;
  
                  iframe {
                      width: 35vw;
                  }
              }
          }
      }
  }
  
  @media (max-width:430px) {
      .Estudio {
  
          .sessaoInicial {
  
              h1 {
                  font-size: 2rem;
              }
          }
  
          .segundaSessao {
              padding: 4vh 5vw;
  
              h2 {
                  font-size: 0.8rem;
              }
  
              .text {
                  gap: 0vh 5vw;
  
                  .column {
                      gap: 1vh 0vw;
  
                      h3 {
                          font-size: 0.7rem;
                      }
  
                      p {
                          font-size: 0.5rem;
                      }
                  }
              }
          }
  
          .sessaoSobre {
  
              .text {
                  h1 {
                      font-size: 1.2rem;
                  }
  
                  p {
                      font-size: 0.6rem;
                  }
              }
  
              .mapbox {
                  display: flex;
                  height: 25vh;
  
                  iframe {
                      width: 35vw;
                  }
              }
          }
      }
  }