.adm-marcar{
    background-image: linear-gradient(217deg, #000, #251e08, #000, #251e08);
    display: flex;
    flex-direction: column;
    height: 150vh;

    header {
        display: flex;
        height: 20vh;
        align-items: center;
        justify-content: space-between;
        padding: 0px 5vw 0px 5vw;
        .imagem-logo img {
          width: 12vw;
        }
  
        .links-principal {
          display: flex;
          gap: 0vh 5vw;
          align-items: center;
          margin-right: 5vw;
          .animacao {
            color: rgb(255, 255, 255);
            text-decoration: none;
            border: none;
            background: none;
          }
  
          .animacao::before {
            margin-left: auto;
          }
  
          .animacao::after,
          .animacao::before {
            content: '';
            width: 0%;
            height: 2px;
            background: #ffffff;
            display: block;
            transition: 0.5s;
          }
  
          .animacao:hover::after,
          .animacao:hover::before {
            width: 100%;
          }
  
          a {
            color: #fff;
            text-decoration: none;
            font: 500 1.2rem 'vikings';
          }
        }
      }


    .secao{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 10vh;

      .secao-inserir{
        height: 150vh;
        width: 70vw;
        background-color: #25242493;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10vh 5vw;
        border-radius: 10px;
        gap: 5vh 0vw;

        h1{
            font: 500 3rem 'vikings';
            color: #9E8080;
            padding: 5vh 0vw;
        }
        .direcao-lado{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1vh 5vw;

            button{
                margin-top: 3.5vh;
                width: 20vw;
                font: 700 1rem 'vikings';
                height: 6vh;
                background-color: #9E8080;
                color: #fff;
                border: none;
                border-radius: 5px;
            }

            .input-2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1vh 0vw;
                h3{
                    font: 500 1rem 'vikings';
                    color: #fff;
                }
                input{
                    height: 6vh;
                    border: none;
                    border-radius: 5px;
                    width: 20vw;
                    background-color: #9E8080;
                    padding: 0vh 2vw;
                }
            }
        }
        .input{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1vh 0vw;

            h3{
                font: 500 1rem 'vikings';
                color: #fff;
            }
            input{
                height: 6vh;
                border: none;
                border-radius: 5px;
                width: 45vw;
                background-color: #313131;
                padding: 0vh 2vw;
            }

        }
      }
    
    }
}

@media (max-width:1440px) {
  
   }
   
  
  @media (max-width:1280px) {
   .conteiner-infocliente{
    
   
    .principal{
      margin-bottom: 10vh;
      
  
      .bloco{
        .subBloco{
          
        }
      }
  
     
  
      
    }
    
  
    
   }
  }
  
  @media (max-width:1024px) {
    .adm-marcar{
    
   
      .secao-dois{
      
        
    
        .bloco{

            h1{
                font: 500 1rem "vikings";
                width: 50vw;
                padding: 3vh 2vw;
                text-align: center;
            }
        
        }
  
       
  
        
        }
      }
    }
  
  
  @media (max-width:912px) {
   
   
  }
  
  @media (max-width:540px) {
    .adm-marcar{
    
   
        .secao-dois{
           

           .bloco{
       

            .input-1{
               


                .espaco{
                    gap: 3vh;
                    

                    input{
                        color: #fff;
                        font: 700 0.75rem "vikings";
                   
             
                        text-align: center;
                    }

                    p{
                        font: 500 1rem 'vikings';
                        color: #fff;
                    }

                    
                }
            }
           }


           .botao{
            
            button{
                height: 10vh;
                font: 500 1rem 'vikings';
                color: #fff;

            }
           }
        
          
      
         
    
          
          }
        }
      }
    

  
       
  
       
  
  
  
    
  
  
         