.adm-marcar {
  background-image: linear-gradient(217deg, #000, #251e08, #000, #251e08);
  display: flex;
  flex-direction: column;
  height: 200vh;

  .secao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;

    .secao-inserir {
      height: 150vh;
      width: 70vw;
      background-color: #25242493;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10vh 5vw;
      border-radius: 10px;
      gap: 5vh 0vw;

      h1 {
        font: 500 3rem 'vikings';
        color: #9E8080;
        padding: 5vh 0vw;
      }

      .direcao-lado {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1vh 5vw;

        button {
          margin-top: 3.5vh;
          width: 20vw;
          font: 700 1rem 'vikings';
          height: 6vh;
          background-color: #9E8080;
          color: #fff;
          border: none;
          border-radius: 5px;
        }

        .input-2 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1vh 0vw;

          h3 {
            font: 500 1rem 'vikings';
            color: #fff;
          }

          input {
            height: 6vh;
            border: none;
            border-radius: 5px;
            width: 20vw;
            background-color: #9E8080;
            padding: 0vh 2vw;
          }
        }
      }

      .input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1vh 0vw;

        h3 {
          font: 500 1rem 'vikings';
          color: #fff;
        }

        input {
          height: 6vh;
          border: none;
          border-radius: 5px;
          width: 45vw;
          background-color: #313131;
          padding: 0vh 2vw;
        }

      }
    }

  }
}

@media (max-width:1280px) {
  .adm-marcar {
    .secao {

      .secao-inserir {


        h1 {
          font-size: 2.5rem;
        }

        .direcao-lado {
          button {
            font-size: 0.9rem;
          }

          .input-2 {
            gap: 1vh 0vw;

            h3 {
              font-size: 0.9rem;

            }

            input {
              height: 6vh;
              width: 20vw;
              padding: 0vh 2vw;
            }
          }
        }

      }

    }
  }
}


@media (max-width:912px) {
  .adm-marcar {
  
    .secao {

      .secao-inserir {
        padding: 5vh 5vw;

        .direcao-lado {
          .input-2 {
            h3 {
              font-size: 0.8rem;
            }

            input {
              font-size: 0.7rem;
            }
          }
        }

        .input {

          input {
            font-size: 0.7rem;

          }
        }
      }
    }
  }
}


@media (max-width:768px) {
  .adm-marcar {
    .secao {
      .secao-inserir {
        h1 {
          font-size: 2.2rem;
        }
      }
    }
  }
}

@media (max-width:540px) {
  .adm-marcar {
    height: 160vh;

    .secao {
      .secao-inserir {
        height: 120vh;

        .direcao-lado {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 1vh 5vw;

          button {
            margin-top: 3.2vh;
            width: 20vw;
            height: 5.7vh;
          }
        }

        h1 {
          font-size: 1.2rem;
        }

        .input {
          height: 8.7vh;

          h3 {
            font-size: 0.6rem;
          }

        }

        .direcao-lado {
          button {
            font-size: 0.9rem;
          }

          .input-2 {
            height: 8.7vh;

            h3 {
              font-size: 0.8rem;

            }

          }
        }

      }

    }
  }
}

@media (max-width:450px) {
  .adm-marcar {
    height: 175vh !important;

    .secao {
      margin-top: 5vh;
      .secao-inserir {
        width: 90vw !important;
        height: 145vh !important;
        gap: 3vh 0vw !important;

        h1 {
          font-size: 1.5rem !important;
        }

        .input {
          h3 {
            font-size: 1.2rem !important;
          }

          input {
            width: 80vw !important;
            height: 6vh !important;
            font-size: 1rem !important;
          }
        }

        .direcao-lado {
          display: flex;
          flex-direction: column !important;

          button {
            font-size: 1rem !important;
            width: 50vw !important;
          }

          .input-2 {
            gap: 1vh 0vw;

            h3 {
              font-size: 1.2rem !important;
            }

            input {
              width: 80vw !important;
              height: 6vh !important;
              font-size: 1rem !important;
            }
          }
        }
      }
    }
  }
}
