.Contato {
    background-image: linear-gradient(210deg, #000000, #1f1f0b, #000000, #1f1f0b);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    .sessaoInicial {
        background-image: url('../../../../public/assets/images/imagemTigre.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 100vh;
        align-items: center;

        h1 {
            margin-left: 5vw;
            color: #fff;
            font: 700 4rem "vikings";
        }
    }

    .sessaoInputs {
        padding: 15vh 10vw;
        display: flex;
        flex-direction: column;
        gap: 5vh 0vw;


        .separacao {
            display: flex;
            flex-direction: column;
            gap: 5vh 0vw;


            .porInput {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0vh 7vw;

                h2 {
                    font: 700 2rem "vikings";
                    width: 15vw;
                }

                input {
                    all: unset;
                    font: 500 1rem "vikings";
                    caret-color: #9E8080;
                    color: #9E8080;
                    background: rgba(255, 255, 255, 0.1);
                    height: 5vh;
                    width: 70%;
                    padding: 0vh 1vw;
                }

                select {
                    all: unset;
                    font: 500 1rem "vikings";
                    caret-color: #9E8080;
                    color: #9E8080;
                    background: rgba(255, 255, 255, 0.1);
                    height: 5vh;
                    width: 70%;
                    padding: 0vh 1vw;
                    align-items: center;

                    option {
                        all: unset;
                    }
                }
            }
        }

        button {
            outline: none;
            border: none;
            border-radius: 5px;
            padding: 1vh 4vw;
            background: rgba(255, 255, 255, 0.1);
            font: 500 1.4rem "vikings";
            color: #fff;
            align-self: flex-end;
            cursor: pointer;
        }

        button:hover {
            box-shadow: 0px 0px 20px 0px #a7811b;
            background: rgba(167, 129, 27, 0.7);
            transition: 0.3s;
        }
    }

    .sessaoMapa {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5vh 5vw;
        gap: 5vh 0vw;

        p {
            font: 500 1.4rem "vikings";
        }

        .alinhar {
            display: flex;
            flex-direction: row;
            text-align: center;
            align-items: center;
            align-self: self-start;
            gap: 0vh 1vw;

            p {
                margin-bottom: 0vh;
            }

            img {
                width: 2vw;
            }
        }

        .mapbox {
            display: flex;
            height: 50vh;
            border: solid 2px #000000;
            border-radius: 12px;

            iframe {
                width: 80vw;
                border-radius: 12px;
            }
        }

        .mapbox:hover {
            border: solid 2px #a7811b;
            box-shadow: 0px 0px 25px 0px #a7811b;
            transition: 0.3s;
        }
    }
}


@media (max-width:1024px) {
    .Contato {

        .sessaoInputs {

            .separacao {

                .porInput {

                    input {
                        height: 7vh;
                    }

                    select {
                        height: 7vh;
                    }
                }
            }
        }

        .sessaoInputs {

            .separacao {

                .porInput {

                    input {
                        height: 7vh;
                    }

                    select {
                        height: 7vh;
                    }
                }
            }
        }

        .sessaoMapa {

            p {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width:912px) {
    .Contato {

        .sessaoInicial {
            height: 50vh;

            h1 {
                margin-left: 8vw;
            }
        }

        .sessaoInputs {
            padding: 7vh 7vw;

            .separacao {

                .porInput {

                    h2 {
                        font-size: 1.5rem;
                    }

                    input {
                        height: 4vh;
                        font-size: 0.8rem;
                    }

                    select {
                        height: 4vh;
                        font-size: 0.8rem;
                    }
                }
            }
        }

        .sessaoMapa {

            p {
                font-size: 1rem;
            }

            .mapbox {
                height: 25vh;

                iframe {
                    width: 80vw;
                    border-radius: 12px;
                }
            }

        }
    }
}

@media (max-width:540px) {
    .Contato {

        .sessaoInicial {

            h1 {
                font-size: 3rem;
            }
        }

        .sessaoInputs {

            .separacao {

                .porInput {

                    h2 {
                        font-size: 1rem;
                    }

                    input {
                        height: 4vh;
                        font-size: 0.5rem;
                    }

                    select {
                        height: 4vh;
                        font-size: 0.5rem;
                    }
                }
            }

            button {
                font-size: 1rem;
            }
        }

        .sessaoMapa {

            p {
                font-size: 0.6rem;
            }

        }
    }
}
@media (max-width:450px) {
    .Contato {
        .sessaoInicial {
            h1 {
                font-size: 2.5rem;
            }
        }
        .sessaoInputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3vh 0vw;
            .separacao {
                gap: 3vh 0vw;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                .porInput {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 1vh 0vw;

                    h2 {
                        font-size: 1.2rem;
                    }

                    input {
                        height: 6vh;
                        width: 80vw;
                    }
                    input:placeholder-shown{
                        font-size: 1rem;
                    }

                    select {
                        height: 6vh;
                        width: 80vw;
                        font-size: 1rem;
                    }
                }
            }
            button {
                font-size: 1.5rem;
            }
        }
        .sessaoMapa {
            p {
                font-size: 1.2rem;
            }
            .alinhar {
               
                img {
                    width: 5vw;
                }
            }

        }
    }
}
