.conteiner-infocliente{
    background-color: black;


 .bloco{

color: #ffff;
display: flex;
background-color:#2C2727 ;
width: 700px;
justify-content: space-between;
margin-left:16%;
color: #fff;
text-decoration: none;
font: 500;

.subBloco{

display: flex;
flex-direction: column;
margin: 30px;
gap: 15px ;
}


 }




.cabecalho{
display: flex;
flex-direction: row;
background-color: black;
justify-content: space-between;
align-items: center;
img{

width: 200px;
margin-left: 8%;

}

button{

    width: 150px;
    height: 50px;
    border-radius: 25px;
    margin-right: 8%;
    background-color: #9E8080;
}

}











}