.nav-adm {

    header {
        display: flex;
        height: 20vh;
        align-items: center;
        justify-content: space-between;
        padding: 0px 5vw 0px 5vw;

        .imagem-logo img {
            width: 12vw;
        }

        .links-principal {
            display: flex;
            gap: 0vh 5vw;
            align-items: center;
            margin-right: 5vw;

            .animacao {
                color: rgb(255, 255, 255);
                text-decoration: none;
                border: none;
                background: none;
            }

            .animacao::before {
                margin-left: auto;
            }

            .animacao::after,
            .animacao::before {
                content: '';
                width: 0%;
                height: 2px;
                background: #ffffff;
                display: block;
                transition: 0.5s;
            }

            .animacao:hover::after,
            .animacao:hover::before {
                width: 100%;
            }

            a {
                color: #fff;
                text-decoration: none;
                font: 500 1.2rem 'vikings';
            }
        }
    }
}


@media (max-width:1280px) {
    .nav-adm {
        header {
            .imagem-logo img {
                width: 10vw;
            }

            .links-principal {
                a {
                    font-size: 1rem;
                }

            }
        }
    }
}



@media (max-width:912px) {
    .nav-adm {
        header {
            .imagem-logo img {
                width: 12vw;
            }

            .links-principal {
                a {
                    font-size: 0.9rem;
                }

            }
        }
    }
}


@media (max-width:540px) {
    .nav-adm {
        header {
            height: 15vh;

            .imagem-logo img {
                width: 10vw;
            }

            .links-principal {
                a {
                    font-size: 0.8rem;
                }

            }
        }
    }
}

@media (max-width:490px) {
    .nav-adm {
        header {
            .imagem-logo img {
                width: 12vw;
            }

            .links-principal {
                a {
                    font-size: 0.7rem;
                }

            }
        }
    }
}

@media (max-width:375px) {
    .nav-adm {
        header {
            .links-principal {
                a {
                    font-size: 0.5rem;
                }

            }
        }
    }
}