.principal-solicitacoes{
    margin: 0px;
    border: 0px;
    background-color: #000;



    header {
        display: flex;
        height: 20vh;
        align-items: center;
        justify-content: space-between;
        padding: 0px 5vw 0px 5vw;
        background-color: #000;
        .imagem-logo img {
          width: 12vw;
        }
    
        .links-principal {
          display: flex;
          gap: 0vh 5vw;
          align-items: center;
          margin-right: 5vw;
          button{
            background: none;
            border: none;
            font: 500 1.2rem 'vikings';
          }
    
          .animacao {
            color: rgb(255, 255, 255);
            text-decoration: none;
            border: none;
            background: none;
          }
    
          .animacao::before {
            margin-left: auto;
          }
    
          .animacao::after,
          .animacao::before {
            content: '';
            width: 0%;
            height: 2px;
            background: #ffffff;
            display: block;
            transition: 0.5s;
          }
    
          .animacao:hover::after,
          .animacao:hover::before {
            width: 100%;
          }
    
          a {
            color: #fff;
            text-decoration: none;
            font: 500 1.2rem 'vikings';
          }
        }
      }
    
    .titulo{
        color: #9E8080;
          text-decoration: none;
          font: 500 30px "vikings" !important;
          text-align: center;
          background-color: #000;
    }
    .solicitacoesped{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 175px;
        background-color: #242424;
        margin-top: 50px;
        width: 75%;
        margin-bottom: 50px;
       
    }
    .botao{
    display: flex;
 
    align-items: center;
    justify-items: stretch;
    margin-bottom: 50px;
    background-color: #000;
    
    
    
    button{
        background-color: #fff;
        text-decoration: none;
        border-radius: 20px;
        color: #000;
        align-items: center;
        height: 50px;
        width: 15vw;
        border: none;
        font: 700 13px "vikings" !important;
        margin-bottom: 10vh ;
        
        
        
    }
    }
}