.solicitacao{
  background-image: linear-gradient(217deg, #000, #251e08, #000, #251e08);
  display: flex;
  flex-direction: column;
  height: 200vh;

  a{
      text-decoration: none;
      color: #000;
  }

  .bloco{
      margin-top: 10vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8vh 0vw;
      input{
        background-color: #9E8080;
        width: 60vw;
        height: 10vh;
        display: flex;
        align-items: center;
        padding: 1vh 4vw;
        border-radius: 10px;
        color: #fff;
      }
  
      
      .area-cinza{
        height: 110vh;
        width: 60vw;
        gap: 8vh 0vw;
        background-color: #25242493;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2vh 3vw;

        h1{
          font: 500 2rem 'vikings';
          color: #9E8080;
        }
        a{
          .bloco-escuro, .bloco-claro{
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 12vh;
              justify-content: space-between;
              padding: 0.5vh 2vw;
              h3{
                  font: 500 0.8rem 'vikings';
                   color: #fff
              }
              h1{
                font: 500 1rem 'vikings';
                color: #fff;
              }
              .flex{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0vh 2vw;
              }
  
              .coluna{
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  gap: 1vh 0vw;
                  img{
                      width: 1.5vw;
  
                  }
              }
            }
            .bloco-escuro{
              background-color: #2C2929;
            }
            .bloco-claro{
              background-color: #c9c2c2;
            }
        }

        
       
      }
    }
  


}

  @media (max-width:1280px) {
    
}

@media (max-width:1024px) {
    
}

@media (max-width:912px) {
  
}

@media (max-width:540px) {
    
}

@media (max-width:430px) {
    
}