.bloquinhos-pretos{
background-color: #353333;
display: flex;
flex-direction: row;
align-items: center;
gap: 50vh;
font: 500 16px 'vikings' !important;
padding: 20px 80px 20px 80px;
align-items: center;
border-radius: 5px;

height: 100px;

.icones{
    height: 15px;
    width: 15px;
    align-items: center;
    align-self: center;
    
}
.parte1{
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;

    

height: 100px;


}
.parte2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    

    .linha1{
        display: flex;
        flex-direction: row;
        gap:10px;
        font: 500 14px 'vikings' !important;
        word-spacing: 5px;
        
    
    }
    .linha2{
        display: flex;
        flex-direction: row;
        gap:25px;
        font: 500 14px 'vikings' !important;
        word-spacing: 5px;
    }

    
}  
}
.bloco1{
background-color: #9e9d9d;
display: flex;
flex-direction: row;
align-items: center;
gap: 50vh;
font: 500 16px 'vikings' !important;
padding: 20px 80px 20px 80px;
align-items: center;
border-radius: 5px;

height: 100px;


.icones{
    height: 15px;
 main{
.parte1{
    display: flex;
    flex-direction: column;
    gap: px;
    gap: 0px;
    align-items: center;

}

}

}

}


