.info{
  background-image: linear-gradient(217deg, #000, #251e08, #000, #251e08);
  display: flex;
  flex-direction: column;
  height: 160vh;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 3vw;

    img {
      width: 10vw;
    }

    a {
      button {
        background-color: #2C2929;
        font: 700 1rem 'vikings';
        border-radius: 30px;
        height: 8vh;
        width: 15vw;
        border: none;
        color: #fff;
      }
    }
  }

  .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;

    .secao {
      margin-top: 10vh;
      display: flex;
      gap: 10vh 0vw;
      flex-direction: column;
      justify-content: center;

      .bloco-escuro {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 15vh;
        width: 80vw;
        justify-content: space-between;
        padding: 0.5vh 2vw;
        background-color: #2C2929;

        h3 {
          font: 500 0.8rem 'vikings';
          color: #fff
        }

        h1 {
          font: 500 1rem 'vikings';
          color: #fff;
        }

        .coluna {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1vh 0vw;

          img {
            width: 1.5vw;
          }
        }
      }

      .anotacao {
        display: flex;
        flex-direction: column;
        gap: 3vh 0vw;

        h1 {
          font: 500 3rem 'vikings';
          color: #fff;
        }

        textarea {
          height: 60vh;
          width: 80vw;
          border: #2C2929 solid 3vh;
          border-radius: 15px;
        }

        .ulti {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          button {
            background-color: #2C2929;
            font: 700 1rem 'vikings';
            border-radius: 30px;
            height: 8vh;
            width: 15vw;
            border: none;
            color: #fff;
          }

          .selecao {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0vh 2vw;

            p {
              color: #fff;
              font: 500 1rem 'vikings';
            }
          }

        }

      }

    }
  }
}


@media (max-width:1024px) {
  .info{
    header {
      a {
        button {
          font-size: 0.8rem;
          height: 6vh;
          width: 12vw;

        }
      }
    }

    .conteiner {
      .secao {
        margin-top: 8vh;
        gap: 8vh 0vw;

        .anotacao {
          h1 {
            font-size: 2rem;
          }

          textarea {
            height: 55vh;
          }

          .ulti {
            button {
              font-size: 0.8rem;
              height: 6vh;
              width: 12vw;
            }
          }

        }

      }
    }

  }

}

@media (max-width:660px) {
  .info{
    height: 140vh;

    header {
      a {
        button {
          height: 4vh;
          width: 15vw;
        }
      }

      img {
        width: 15vw;
      }
    }

    .conteiner {
      .secao {
        margin-top: 3vh;

        .anotacao {
          .ulti {
            button {
              height: 4vh;
              width: 15vw;
            }

          }

        }

      }
    }

  }


}


@media (max-width:540px) {
  .info{

    header {
      a {
        button {
          font-size: 0.6rem;
        }
      }

      img {
        width: 20vw;
      }
    }

    height: 120vh;

    .conteiner {
      .secao {
        margin-top: 2vh;

        .anotacao {
          .ulti {
            button {
              height: 4vh;
              width: 15vw;
              font-size: 0.6rem;
            }
          }
        }

        .bloco-escuro {
          height: 12vh;
          width: 70vw;

          h3 {
            font-size: 0.6rem;
          }

          h1 {
            font-size: 0.8rem;
          }

        }

      }
    }

  }
}

@media (max-width:450px) {
  .info{
    height: 110vh;
    header {
      img {
        width: 25vw;
      }
  
      a {
        button {
          font-size: 1rem;
          width: 25vw;
        }
      }
    }

    .conteiner {
      .secao {
        margin-top: 3vh;
        .bloco-escuro {
          width: 90vw;
          height: 12vh;
          h3 {
            font-size: 1rem;
          }

          h1 {
            font-size: 1.2rem;
          }
          
          a {
            .coluna {
              h3 {
                font-size: 1rem;
              }

              h1 {
                font-size: 1.2rem;
              }

            }
          }
          .coluna {
            h3 {
              font-size: 1rem;
            }

            h1 {
              font-size: 1.2rem;
            }

          }
          .coluna {
            img {
              width: 6vw;
            }
          }
        }
        .anotacao {
          h1 {
            font-size: 1.5rem;
          }
          textarea {
            height: 50vh;
            width: 90vw;;
          }
  

          .ulti {
            button {
              font-size: 1em;
              width: 30vw;
            }
            .selecao {  
              p {
                font-size: 1.2rem;
              }
            }
          }

        }

      }
    }

  }
}