.conteiner-infocliente{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;


    header {
        display: flex;
        height: 20vh;
        align-items: center;
        justify-content: space-between;
        padding: 0px 5vw 0px 5vw;
        
        .imagem-logo img {
          width: 12vw;
        }
  
        .links-principal {
          display: flex;
          gap: 0vh 5vw;
          align-items: center;
          margin-right: 5vw;
  
          .animacao {
            color: rgb(255, 255, 255);
            text-decoration: none;
            border: none;
            background: none;
          }
  
          .animacao::before {
            margin-left: auto;
          }
  
          .animacao::after,
          .animacao::before {
            content: '';
            width: 0%;
            height: 2px;
            background: #ffffff;
            display: block;
            transition: 0.5s;
          }
  
          .animacao:hover::after,
          .animacao:hover::before {
            width: 100%;
          }
  
          a {
            color: #fff;
            text-decoration: none;
            font: 500 1.2rem 'vikings';
          }
        }
      }
   

.principal{  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


 .bloco{
color: #ffff;
display: flex;
flex-direction: row;
background-color:#25242493 ;
width: 100vh;
justify-content: space-between;
color: #fff;
text-decoration: none;
font: 500;
border-radius: 10px;

.subBloco{

display: flex;
flex-direction: column;
margin: 30px;
gap: 15px ;
font: 700 0.6em 'vikings';

}


button{
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    margin-right: 8%;
    background-color: #9E8080;
}

}

.tituloAnotacao{
    color: #fff;
    text-align:start;
    
    margin-top: 3vw;
    margin-bottom: 3vw;
    font: 700 2em 'vikings';
}

.blocoPai{

background-color: #25242493;
width: 45vw ;
display: flex;
justify-content: center;
align-items:center ;
text-align: center;

height: 50vh;
border-radius:25px ;


.anotacao{
   

    textarea{
        width: 40vw !important; 
        height: 45vh !important;
        border-radius: 20px;
        border: none;
        text-align: start;  
        padding: 10px;      
    }

}
}

.botaoConcluir{


margin-top: 5vw;


button{


background-color:#9E8080;
border-radius:30px ;
width: 12vw;
height: 8vh;
color: #fff;
text-decoration: none;
font: 500 1.2em 'vikings';
}
}


.imagemLaDeBaixo{

width: 20vw;
margin-left:10vw ;
}
}
}

@media (max-width:1280px) {
    .conteiner-infocliente{
     .subBloco{
       
       
     }
    }
   }
   