.conteiner-infocliente{
    background-color: black;
    align-items: center;


 .bloco{

color: #ffff;
display: flex;
background-color:#2C2727 ;
width: 100vh;
justify-content: space-between;
margin-left: 25vw;
color: #fff;
text-decoration: none;
font: 500;

.subBloco{

display: flex;
flex-direction: column;
margin: 30px;
gap: 15px ;
font: 700 0.6em 'vikings';


}


 }




.cabecalho{
display: flex;
flex-direction: row;
background-color: black;
justify-content: space-between;
align-items: center;
.logo1{

width: 15vw;
margin-left: 25vh;

}

button{


    border: none;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    margin-right: 8%;
    background-color: #9E8080;
}

}

.tituloAnotacao{
    color: #fff;
    text-align:start;
    margin-left:15vw ;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font: 700 2em 'vikings';
}

.blocoPai{

background-color: #2C2727;
width: 70vw ;
display: flex;
justify-content: center;
align-items:center ;
text-align: center;
margin-left: 15vw;
height: 50vh;
border-radius:30px ;


.anotacao{
   

    input{
        width: 65vw;
        height: 45VH;
        border-radius: 20px;
        border: none;
        text-align: start;
    }

}
}

.botaoConcluir{

margin-left: 15vw;
margin-top: 5vw;


button{


background-color:#9E8080;
border-radius:30px ;
width: 12vw;
height: 8vh;
color: #fff;
text-decoration: none;
font: 500 1.2em 'vikings';
}
}


.imagemLaDeBaixo{

width: 20vw;
margin-left:10vw ;
}
}

@media (max-width:1280px) {
    .conteiner-infocliente{
     .subBloco{
       color: green;
       
     }
    }
   }
   