

///Cabeçalho
main{

    header{
     background-color: #000000;
        display: flex;
        height: 30vh;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px 0px 300px;
  
        .imagem-logo img{
            width: 25vh;
            margin-right:50vh ;
            margin-left: -30vh;

        }
  
        .links-principal  {
            display: flex;
            gap: 15vh;
            align-items: center;
            margin-right: 20px;
  
           a{
            color: #fff;
            text-decoration: none;
            font: 500 16px 'vikings' !important; 
           }
  
        }
 }
}


////////BlocoInformações

.bloco{
    background-color: #353333;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50vh;
    font: 500 16px 'vikings' !important;
    padding: 20px 80px 20px 80px;
    align-items: center;
    border-radius: 5px;
    
    height: 100px;
  

    .icones{
        height: 15px;
        width: 15px;
        align-items: center;
        align-self: center;
        
    }

    .parte1{
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
    
        
    


    
    }
    .parte2{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        

        .linha1{
            display: flex;
            flex-direction: row;
            gap:10px;
            font: 500 14px 'vikings' !important;
            word-spacing: 5px;
            
        
        }

        .linha2{
            display: flex;
            flex-direction: row;
            gap:25px;
            font: 500 14px 'vikings' !important;
            word-spacing: 5px;
        }
    
        
    }  
}



.bloco1{
    background-color: #9e9d9d;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50vh;
    font: 500 16px 'vikings' !important;
    padding: 20px 80px 20px 80px;
    align-items: center;
    border-radius: 5px;
    
    height: 100px;
  

    .icones{
        height: 15px;
        width: 15px;
        align-items: center;
        align-self: center;
        
    }

    .parte1{
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
    
        
    


    
    }
    .parte2{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        

        .linha1{
            display: flex;
            flex-direction: row;
            gap:10px;
            font: 500 14px 'vikings' !important;
            word-spacing: 5px;
            
        
        }

        .linha2{
            display: flex;
            flex-direction: row;
            gap:25px;
            font: 500 14px 'vikings' !important;
            word-spacing: 5px;
        }
    
        
    }  
}