.cadastrar-relatorio {
  background-image: linear-gradient(217deg, #000, #251e08, #000, #251e08);
  display: flex;
  flex-direction: column;
  height: 150vh;

  .secao-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .cadastrar {
      padding: 2vh 2vw;
      height: 90vh;
      width: 80vw;
      background-color: #313131;
      border-radius: 20px;
      border: #1a1a1a 3vh solid;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1{
        color: #fff;
        font: 500 2.5rem 'vikings';
        text-align: center;
      }
  

      .botoes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0vh 5vw ;
        button {
          background-color: #fff;
          font: 700 1rem "vikings";
          border-radius: 5px;
          padding: 15px 20px;
          border: none;
          color: #2c2929;
          cursor: pointer;
          margin-top: 10vh;
        }
      }
     
    }
  }
}
@media (max-width:1280px) {
  .cadastrar-relatorio {
    .secao-cadastro {
 
      .cadastrar {
        height: 120vh;
   

     

        .botoes {
          gap:  5vw;


        }

    
      }
    }
  }

}


@media (max-width: 760px) {
  .cadastrar-relatorio {
    height: 120vh;
    
    .secao-cadastro {
      .cadastrar {
        justify-content: start;
        width: 90%;
        height: 90vh;
        border: 0;
        border-radius: 8px;

        .escolha {
          h1 {
            font-size: 17px;
            text-align: center;
          }

        }

        .botoes {
          gap: 15px;
          justify-content: center;

          button {
            width: auto;
            font-size: 14px;
          }
        }

        .espaco .input {
          align-items: normal;

          h3 {
            font-size: 20px;
          }
        }
      }
    }
  }
}
