.estilo{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(210deg, #000000, #1f1f0b,#000000, #1f1f0b);
    background-repeat: no-repeat;
    background-size: cover;

}
