.tattoos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
    h1 {
        font: 500 2.5rem "vikings";
        color: #fff;
    }
    .secao-losango{
        display: flex;
        height: 200vh;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0vh 1vw;
        padding: 0vh 0vw 0vh 0vw;

        .coluna{
            display: flex;
            flex-direction: column;
            a{
                text-decoration: none;
            }
            .neo, .new{
                padding: 6vw 0vw;
            }
            div{
                margin: 0vh 0vw;
                background-image: url('../../../public/assets/images/losango.png');
                background-repeat: no-repeat;
                background-size: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 15vh 6vw;      
                gap: 1vh 0vw;
                p{
                    color: #000;
                    font: 500 0.8rem "vikings";
                    width: 9vw;
                    text-align: center;
                    
                }
                img{
                    width: 7vw;
                }
               

               
            }
        }
    }
}

@media (max-width:1440px) {
    .tattoos{
        .secao-losango{
            height: 100vh;
            .coluna{
                div{
                    padding: 9.9vh 4vw;
                  
                }
                
            }
        }
    }
   
}

@media (max-width:1024px) {
    .tattoos{
        .secao-losango{
            height: 80vh;
            .coluna{
                div{
                    padding: 8.5vh 5vw;
                }
               
            }
        }
    }
   
}

@media (max-width:912px) {
    .tattoos{

        h1{
            font-size: 2rem;
        }
        .secao-losango{
            margin: 3vh 0vw;
            height: 150vh;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            
            .coluna{
                div{
                    padding: 10vh 6vw;
                    
                }
               
            }
        }
    } 
}

@media (max-width: 768px) {
    .tattoos{
        .secao-losango{
            margin: 3vh 0vw;
            height: 160vh;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .coluna{
                .neo, .new{
                    padding: 14vh 0vw;
                }
                div{
                    padding: 14vh 8.5vw;
                    p{
                        width: 12vw;
                    }
                }
               
            }
        }
    }
   
}
@media (max-width: 660px) {
    .tattoos{
        .secao-losango{
            height: 150vh;
            .coluna{
                .neo, .new{
                    padding: 12vh 0vw;
                }
                div{
                    padding: 12vh 8.5vw;
                    p{
                        width: 14vw;
                    }
                }
               
            }
        }
    }
   
}

@media (max-width:540px) {
    .tattoos{
        h1{
            font-size: 1.3rem;
        }
        .secao-losango{
            height: 120vh;
            .coluna{
                .neo, .new{
                    padding: 10vh 0vw;
                }
               
                div{
                    padding: 10vh 9vw;
                    p{
                        width: 14.5vw;
                    }
                }
               
            }
        }
    }
   
}

@media (max-width:490px) {
    .tattoos{
        margin-top: 15vh;
        .secao-losango{
            height: 150vh;
            .coluna{
                .neo, .new{
                    padding: 6vh 0vw;
                }
                div{
                    padding: 6vh 15vw;
                    p{
                        width: 18vw;
                    }
                    img{
                        width: 18vw;
                    }
                }

            }
        }
    }
}

@media (max-width:375px) {
    .tattoos{
        margin-top: 15vh;   
        .secao-losango{
            height: 150vh;
            .coluna{
                .neo, .new{
                    padding: 8vh 0vw;
                }
                div{
                    padding: 8vh 13vw;
                    p{
                        width: 22vw;
                        font-size: 0.7rem;
                    }
                    img{
                        width: 15vw;
                    }
                }
            }
        }
    }
}
@media (max-width:325px) {
    .tattoos{
        margin-top: 15vh;   
        .secao-losango{
            height: 180vh;
            .coluna{
                .neo, .new{
                    padding: 8vh 0vw;
                }
                div{
                    padding: 8vh 13vw;
                    p{
                        width: 22vw;
                        font-size: 0.7rem;
                    }
                    img{
                        width: 15vw;
                    }
                }
            }
        }
    }
}