.tattoos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;

    h1 {
        font: 500 2.5rem "vikings";
        color: #fff;
    }

    .secao-losango {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        gap: 0vh 1vw;
        padding: 0vh 0vw 0vh 0vw;

        .coluna {
            display: flex;
            flex-direction: column;

            a {
                text-decoration: none;
            }

            .neo,
            .new {
                padding: 5vw 0vw;
            }

            div {
                margin: 0vh 0vw;
                background-image: url('../../../public/assets/images/losango.png');
                background-repeat: no-repeat;
                background-size: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 9vh 4vw;
                gap: 1vh 0vw;

                p {
                    color: #000;
                    font: 500 0.8rem "vikings";
                    width: 9vw;
                    text-align: center;

                }

                img {
                    width: 7vw;
                }



            }
        }
    }
}

@media (max-width:1440px) {
    .tattoos {
        .secao-losango {
            .coluna {
                div {
                    padding: 9.9vh 4vw;

                    p {
                        font-size: 0.7rem;
                    }
                }

            }
        }
    }

}

@media (max-width:1280px) {
    .tattoos {
        .secao-losango {
            height: 80vh;

            .coluna {
                div {
                    padding: 7.5vh 4vw;
                    gap: 0.8vh 0vw;

                }

            }
        }
    }

}

@media (max-width:1024px) {
    .tattoos {
        .secao-losango {
            height: 80vh;

            .coluna {
                div {
                    padding: 6.8vh 4vw;
                    gap: 0.8vh 0vw;

                    p {
                        font-size: 0.6rem;
                    }
                }

            }
        }
    }

}

@media (max-width:912px) {
    .tattoos {

        h1 {
            font-size: 2rem;
        }

        .secao-losango {
            height: 70vh;

            .coluna {
                div {
                    p {
                        font-size: 0.5rem;
                    }
                }

            }
        }
    }
}

@media (max-width: 768px) {
    .tattoos {
        .secao-losango {

            height: 65vh;

            .coluna {
                div {

                    gap: 0.5vh 0vw;
                    padding: 6vh 4vw;

                    p {
                        font-size: 0.5rem;
                    }
                }

            }
        }
    }

}

@media (max-width: 660px) {
    .tattoos {
        .secao-losango {

            height: 60vh;

            .coluna {
                div {
                    padding: 5vh 4vw;

                    p {
                        font-size: 0.4rem;
                    }
                }

            }
        }
    }

}




@media (max-width:540px) {
    .tattoos {
        h1 {
            font-size: 1.3rem;
        }

        .secao-losango {
            height: 50vh;

            .coluna {
                div {
                    padding: 4.5vh 4.5vw;
                }

            }
        }
    }

}

@media (max-width:430px) {
    .tattoos {
        margin-top: 10vh;

        .secao-losango {
            height: 45vh;

            .coluna {
                div {
                    padding: 3.5vh 5vw;
                }

            }
        }
    }
}

@media (max-width:375px) {
    .tattoos {
        .secao-losango {
            height: 40vh;

            .coluna {
                div {
                    padding: 3vh 4.5vw;
                }

                p {
                    font-size: 0.3rem;
                }

            }
        }
    }
}