.ladingpage {
    background-image: linear-gradient(210deg, #000000, #1f1f0b, #000000, #1f1f0b);
    background-repeat: no-repeat;
    background-size: cover;

    .secao-inicial-landing {

        background: url("../../../../public/assets/videos/video-ofc.gif");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 100vh;
        align-items: center;

        .texto {
            display: flex;
            flex-direction: column;
            gap: 5vh 0vw;

            h1 {
                margin-left: 5vw;
                color: #fff;
                font: 500 2.5rem "vikings";
                width: 50vw;
            }

            button {
                margin-left: 5vw;
                background-color: #A68D7A;
                color: #fff;
                border-radius: 8px;
                font: 500 1rem "vikings";
                width: 20vw;
                height: 6vh;
                border: none;
            }

        }

    }

    .secao-estudio {
        background-image: url('../../../../public/assets/images/imagem-estudio-escura.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: 130vh;
        align-items: center;
        justify-content: center;
        padding: 15vh 0vw 0vh 0vw;

        button {
            margin-left: 5vw;
            background-color: #A68D7A;
            color: #fff;
            font: 500 1rem "vikings";
            width: 20vw;
            border-radius: 8px;
            height: 6vh;
            border: none;
        }

        .titulo {
            color: #fff;
            font: 500 2.5rem "vikings";
            text-align: center;
        }

        .flex {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0vh 30vw;
            padding: 8vh 0vw;
            width: 50vw;

            .coluna {
                display: flex;
                flex-direction: column;
                width: 20vw;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 8vh 0vw;

                p {
                    font: 500 1.5rem "vikings";
                    color: #fff;
                    width: 30vw;
                }

                h1 {
                    color: #fff;
                    font: 500 2rem "vikings";
                }


            }

        }
    }



    .secao-carrossel {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        text-align: center;

        .bot {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                background-color: #A68D7A;
                color: #fff;
                font: 500 1rem "vikings";
                width: 20vw;
                height: 6vh;
                border: none;
                border-radius: 8px;
            }
        }

        h1 {
            color: #fff;
            font: 500 3rem "vikings";
            padding: 10vh 5vw;
        }

        .carrossel {
            display: flex;
            gap: 0vh 5vw;
            padding: 0vh 0vw 10vh 0vw;
            align-items: center;
            justify-content: center;


            .swiper-slide {

                img {
                    height: 50vh;
                    border-radius: 12px;
                    border: solid 4px #808080;
                }

            }

            // segue formatação de texto
            .swiper-button-prev {
                // seta da esquerda
                color: #ffffff;
            }

            .swiper-button-next {
                // seta da direita
                color: #ffffff;
            }

        }
    }

    .estilo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8vh;
        button {
            background-color: #A68D7A;
            color: #fff;
            font: 500 1rem "vikings";
            width: 20vw;
            height: 6vh;
            border-radius: 8px;
            border: none;
        }
    }

    .secao-contato {
        background-image: url('../../../../public/assets/images/imagemTigre.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: 70vh;
        align-items: center;
        justify-content: center;
        gap: 3vh 0vw;

        h1 {
            color: #fff;
            font: 500 5rem "vikings";
            width: 80vw;
            text-align: center;
        }

        button {
            background-color: #A68D7A;
            color: #fff;
            font: 500 1rem "vikings";
            width: 20vw;
            border-radius: 8px;
            height: 6vh;
            border: none;
        }
    }


    .secao-insta {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 70vh;
        gap: 0vh 2vw;

        img {
            width: 4vw;
        }

        h1 {
            color: #fff;
            font: 500 4rem "vikings";
        }
    }

}
@media (max-width:1280px) {
    .ladingpage {

        .secao-inicial-landing {

            .texto {

                h1 {
                    font-size: 2.5rem;
                }
            }
        }
    }
}
@media (max-width:1024px) {
    .ladingpage {
        .secao-inicial-landing {
            height: 90vh;
            .texto {
                h1 {
                    font-size: 2.2rem;
         
                }
                button{
                    font-size: 0.8rem;
                }
            }
        }
        .secao-estudio{
            height: 115vh;
            button{
                font-size: 0.8rem;
            }
            .flex{
                .coluna{
                    p{
                        font-size: 1rem;
                    }
                    h1{
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .secao-carrossel{
            margin-top: 8vh;
            height: 90vh;
            h1{
                font-size: 2.5rem;
            }

            .bot {

                button {
                    font-size: 0.8rem;
                }
            }
    
            .carrossel{
                .swiper-slide {

                    img {
                        height: 40vh;
                    }

                }

            }
        }
        .estilo{
            button{
                font-size: 0.8rem;
            }
        }
        .secao-contato{
            h1{
                font-size: 3rem;
            }
        }

        .secao-insta {
            height: 50vh;

            img {
                width: 3vw;
            }
    
            h1 {
                font-size: 3rem;
            }
            button{
                font-size: 0.8rem;
            }
        }
        
    }
}
@media (max-width:912px) {
    .ladingpage {
        .secao-inicial-landing {
            height: 80vh;
            .texto {
                h1 {
                    font-size: 1.8rem;
                }
                button{
                    font-size: 0.7rem;
                }
            }
        }
        .secao-estudio{
            height: 110vh;
            button{
                font-size: 0.7rem;
            }
            .titulo{
                font-size: 2rem;
            }
            .flex{
                .coluna{
                    p{
                        font-size: 0.9rem;
                    }
                    h1{
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .secao-carrossel{
            margin-top: 6vh;
            height: 80vh;
            h1{
                font-size: 2rem;
            }

            .bot {
          
                button {
                    font-size: 0.8rem;
                }
            }
    
            .carrossel{
                .swiper-slide {

                    img {
                        height: 35vh;
                    }

                }
            }
        }
        .estilo{
            button{
                font-size: 0.7rem;
            }
           }
        }
        .secao-contato{
            h1{
                font-size: 2.5rem;
            }
        }

        .secao-insta {
            height: 45vh;
    
            h1 {
                font-size: 2.5rem;
            }
            button{
                font-size: 0.7rem;
            }
        }
        
    }
}

@media (max-width:768px) {
    .ladingpage {
        .secao-inicial-landing {
            height: 70vh;
            .texto {
                h1 {
                    font-size: 1.5rem;
                }
                button{
                    font-size: 0.6rem;
                }
            }
        }
        .secao-estudio{
        
            button{
                font-size: 0.6rem;
            }
            .titulo{
                font-size: 1.5rem;
            }
            .flex{
                .coluna{
                    p{
                        font-size: 0.7rem;
                    }
                    h1{
                        font-size: 1rem;
                    }
                }
            }
        }
        .secao-carrossel{
            height: 75vh;
            margin-top: 4vh;
            h1{
                font-size: 1.5rem;
            }

            .bot {
          
                button {
                    width: 25vw;
                  }
            }
    
            .carrossel{
                .swiper-slide {
                    img {
                        height: 30vh;
                    }
    
                }
            }
        }
        .estilo{
            button{
                font-size: 0.6rem;
            }
        }
        .secao-contato{
            height: 60vh;
            h1{
                font-size: 2rem;
            }
            button{
                font-size: 0.5rem;
            }
        }

        .secao-insta {
            height: 40vh;
    
            h1 {
                font-size: 2rem;
            }
            button{
                font-size: 0.6rem;
            }
        }
        
    }
}

@media (max-width:660px) {
    .ladingpage {
        .secao-inicial-landing {
            height: 60vh;
            .texto {
                h1 {
                    font-size: 1.2rem;
                }
                button{
                    font-size: 0.5rem;
                }
            }
        }
        .secao-estudio{
            height: 100vh;
            button{
                font-size: 0.5rem;
            }
            .titulo{
                font-size: 1rem;
            }
            .flex{
                .coluna{
                    h1{
                        font-size: 0.8rem;
                    }
                }
            }
        }
        .secao-carrossel{
            height: 70vh;
            h1{
                font-size: 1rem;
            }
            .bot {
          
                button {
                    font-size: 0.5rem;
                }
            }
    
            .carrossel{
                .swiper-slide {
                    img {
                        width: 25vw;
                    }
    
                }
            }
        }
        .estilo{
            button{
                font-size: 0.5rem;
            }
        }
        .secao-contato{
            height: 50vh;
            h1{
                font-size: 1rem;
            }
        }

        .secao-insta {
            height: 35vh;
    
            h1 {
                font-size: 1.5rem;
            }
            button{
                font-size: 0.5rem;
            }
        }
        
    }
}

@media (max-width:540px) {
    .ladingpage {
        .secao-inicial-landing {
            height: 60vh;
            .texto {
                button{
                    font-size: 0.8rem;
                    width: 50vw;
                }
            }
        }
        .secao-estudio{
            height: 90vh;
          
            button{
                font-size: 0.4rem;
            }
            .titulo{
                font-size: 1.2rem;
            }
            .flex{
                .coluna{
                    gap: 2vh 0vw;
                    h1{
                        font-size: 1rem;
                    }
                    p{
                        font-size: 0.8rem;
                    }
                }
            }
        }
        .secao-carrossel{
            height: 65vh;
            padding: 3vh 0vw;

            .bot {
          
                button {
                    font-size: 1rem;
                    width: 30vw;
                }
            }
        }
        .estilo{
            button{
                font-size: 1rem;
                width: 30vw;
            }
        }
        .secao-contato{
            height: 40vh;
            h1{
                font-size: 1.8rem;
            }
            a{
                button {
                    width: 35vw;
                }
            }
        }

        .secao-insta {
            height: 25vh;
        }
        
    }
}

@media (max-width:430px) {
    .ladingpage {
        .secao-inicial-landing {
            height: 50vh;
            .texto {
                gap: 3vh 0vw;
                h1{
                    font-size: 0.8rem;
                }
                button{
                    font-size: 0.8rem;
                    width: 40vw;
                    height: 4vh;
                }
            }
        }
        .secao-estudio{
            height: 90vh;
            button{
                width: 22vw;
                height: 4vh;
            }
           
        }
        .secao-carrossel{
            margin-top: 2vh;
            .bot {
          
                button {
                    font-size: 0.8rem;
                    width: 40vw;
                    height: 4vh;
                }
            }
            .carrossel{
                .swiper-slide {

                    img {
                        height: 20vh;
                    }
    
                }
            }
        }
        .estilo{
            height: 65vh;
            padding: 2vh 0vw;
            button{
                font-size: 0.8rem;
                width: 40vw;
                height: 4vh;
            }
        }
        .secao-contato{
            height: 30vh;
            a{
                button{
                    font-size: 0.8rem;
                    width: 40vw;
                    height: 4vh;
                }
            }
        }
        .secao-insta {
           h1{
            font-size: 1.2rem;
           }
        }
    }
}