@font-face {
    font-family: 'vikings';
    src: url('../../../public/assets/fonts/helvetica-light-587ebe5a59211.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'vikings';
    src: url('../../../public/assets/fonts/Helvetica.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'vikings';
    src: url('../../../public/assets/fonts/Helvetica-Oblique.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'vikings';
    src: url('../../../public/assets/fonts/Helvetica-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'vikings';
    src: url('../../../public/assets/fonts/Helvetica-BoldOblique.ttf');
    font-weight: 800;
    font-style: normal;
}